.blogsMain {
    /* border: solid 1px; */
    width: 70%;
    margin: auto;
    margin-top: 5rem;
}

.blogs {
    padding: 1rem;
    width: 70%;
}

.blogs .blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px rgb(202, 199, 199);
}
.coverImage {
    width: 18rem;
    object-fit: cover;
}

.coverImage img {
    width: 100%;
}

.coverImage:hover {
    filter: drop-shadow(5px 5px 10px rgb(65, 64, 64));
    transition: all 300ms linear;
    cursor: pointer;
}

.blog .content {
    width: 85%;
    text-align: left;
    margin-left: 1rem;
}

.blog .content .date {
    color: rgb(202, 199, 199);
    font-size: smaller;
}

.blog .content .title {
    margin-block: 7px;
    font-size: large;
    width: 35rem;
}
.blog .content .title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.blog .content p {
    margin-block: 7px;
}

.blog .content .continueReading {
    color: var(--primary-orange);
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
}

.blog .content .continueReading:hover {
    color: black;
}

.sideBar {
    width: 30%;
}

.sideBar {
    display: block;
}

.sideBar .sideBarItem h2 {
    margin-block: 7px;
    font-size: x-large;
    background-color: #f3f3f3;
    padding: 0.6rem;
    margin-top: 0;
    margin-bottom: 0.25rem;
    text-align: center;
    color: var(--primary-violet);
}

.sideBar .sideBarItem ul {
    margin: 0 0 2rem 0;
    padding: 0;
}
.sideBar .sideBarItem .itemList {
    cursor: pointer;
    list-style: none;
    margin-block: 7px;
    background-color: #f3f3f3;
    padding: 0.8rem 1.5rem;
    margin-top: 0;
    margin-bottom: 0.2rem;
    text-transform: capitalize;
}

.sideBar .sideBarItem .itemList:hover {
    color: grey;
}

.sideBar .sideBarItem .active {
    background-color: var(--primary-violet);
    color: white;
}

.sideBarIcon {
    color: var(--primary-violet);
    margin-right: 0.4rem;
}

.btn-wrapper {
    text-align: center;
}

.btn-wrapper button {
    padding: 0.6rem 1rem;
    width: 100%;
    background-color: var(--primary-violet);
    border: none;
    font-size: 1rem;
    font-weight: 800;
    color: white;
    cursor: pointer;
}

.btn-wrapper button:hover {
    background-color: #ad6794;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.banner {
    width: 60%;
    border: solid 1px;
    margin: auto;
    padding: 2rem 3rem;
    margin-block: 5rem;
    text-align: center;
    box-shadow: 10px 10px 50px 5px #f0eeef;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
}
