.addTask {
    border-radius: 8px;
    background-color: rgb(251, 253, 255);
    margin-inline: auto;
    margin-block: 30px;
    padding-block: 10px;
}

input {
    font-size: larger;
    padding: 5px;
    margin-inline: 10px;
    border: solid 1px rgb(226, 224, 224);
    border-radius: 7px;
}

input:focus {
    outline: none;
    background-color: rgb(229, 234, 239);
    box-shadow: 0 0 4px 2px rgb(225, 231, 236);
}

.addButton,
.clearEditing {
    background-color: rgb(39, 182, 39);
    color: white;
    font-size: larger;
    border-radius: 4px;
    border: 1px;
    padding-inline: 15px;
    padding-block: 5px;
    border-color: rgb(242, 242, 242);
}

.addButton:hover {
    box-shadow: 0 0 6px 1px rgb(39, 182, 39);
    cursor: pointer;
}

.clearEditing {
    margin-block: 12px;
    background-color: rgb(106, 79, 255);
    margin-inline: calc(100% / 2.6);
}

.clearEditing:hover {
    box-shadow: 0 0 6px 1px rgb(106, 79, 255);
    cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .addTask {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        width: 90%;
        padding: 5px;
        margin-inline: 5px;
        margin-bottom: 10px;
    }
    .clearEditing {
        width: 30%;
    }
}

@media only screen and (min-width: 600px) {
    .addTask {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input {
        width: 90%;
        padding: 5px;
        margin-inline: 5px;
        margin-bottom: 10px;
    }
    .clearEditing {
        width: 30%;
    }
}

@media only screen and (min-width: 800px) {
    .addTask {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    input {
        width: 38%;
        padding: 5px;
        margin-inline: 5px;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 1100px) {
    .main {
        width: 75%;
    }
}
