.addTask {
    border-radius: 8px;
    background-color: rgb(251, 253, 255);
    width: 490px;
    margin-inline: auto;
    margin-block: 30px;
    padding-block: 10px;
}

input {
    width: 350px;
    font-size: larger;
    padding: 5px;
    margin-inline: 10px;
    border: solid 1px rgb(226, 224, 224);
    border-radius: 7px;
}

input:focus {
    outline: none;
    background-color: rgb(229, 234, 239);
    box-shadow: 0 0 4px 2px rgb(225, 231, 236);
}

.addButton,
.clearEditing {
    background-color: rgb(39, 182, 39);
    color: white;
    font-size: larger;
    border-radius: 4px;
    border: 1px;
    padding-inline: 15px;
    padding-block: 5px;
    border-color: rgb(242, 242, 242);
}

.addButton:hover {
    box-shadow: 0 0 6px 1px rgb(39, 182, 39);
    cursor: pointer;
}

.clearEditing {
    margin-block: 12px;
    background-color: rgb(106, 79, 255);
    margin-inline: calc(100% / 2.6);
}

.clearEditing:hover {
    box-shadow: 0 0 6px 1px rgb(106, 79, 255);
    cursor: pointer;
}
