.header {
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
    padding-block: 8px;
    background-color: rgb(251, 253, 255);
    border-radius: 8px;
}

.icon {
    display: flex;
    align-items: center;
}

.icon img {
    width: 40px;
    margin-right: 10px;
}

.themes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.themes .theme {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.themes .active {
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px 3px rgb(106, 79, 255);
}

@media only screen and (max-width: 600px) {
    .main {
        width: 80%;
    }

    .header {
        padding-inline: 20px;
    }

    .icon .title {
        display: none;
    }
    .icon img {
        width: 4vh;
    }
    .themes .theme {
        width: 3vh;
        height: 3vh;
    }
}
@media only screen and (min-width: 600px) {
    .main {
        width: 75%;
    }
}

@media only screen and (min-width: 800px) {
    .main {
        width: 80%;
    }
}

@media only screen and (min-width: 1100px) {
    .main {
        width: 75%;
    }
}
