.header {
    width: 100%;
    border-bottom: solid 1px rgb(221, 217, 217);
}

.header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
    padding-block: 0.5rem;
}

.header img {
    width: 5rem;
    padding-inline: 5rem;
}

.container .nav {
    padding-inline: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: bolder;
    width: 50%;
}

.container .nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.container .nav .searchIcon {
    color: var(--primary-violet);
    font-size: larger;
}
