.container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    background-color: rgba(153, 120, 230, 0.984);
}
.main {
    width: 75%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input,
button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 600px) {
    .main {
        width: 80%;
    }
}
@media only screen and (min-width: 600px) {
    .main {
        width: 75%;
    }
}

@media only screen and (min-width: 800px) {
    .main {
        width: 80%;
    }
}

@media only screen and (min-width: 1100px) {
    .main {
        width: 75%;
    }
}
