.main {
    background-color: #8d8d8d;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drumMachine {
    min-width: 700px;
    max-width: 800px;
    border: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: #b3b3b3;
    border: solid 5px orange;
}

.drumPanel {
    display: flex;
    flex-flow: row wrap;
    width: 370px;
    justify-content: space-evenly;
    padding: 20px 0 20px 0;
}

.drumPanel button {
    width: 100px;
    height: 75px;
    margin-bottom: 15px;
    background-color: grey;
    box-shadow: 3px 3px 6px 1px rgb(59, 58, 58);
    border-radius: 10px;
    cursor: pointer;
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.controls-container img {
    align-self: flex-end;
    margin-right: 5px;
    margin-top: 5px;
    width: 40px;
}

input[type='range'] {
    height: 4px;
    -webkit-appearance: none;
    margin: 10px 0;
    min-width: 200px;
}

input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 2px #a6a6a6;
    background: rgb(118, 118, 118);
    border-radius: 4px;
    border: 2px solid rgb(118, 118, 118);
}
input[type='range']::-webkit-slider-thumb {
    box-shadow: 1px 1px 2px #a6a6a6;
    border: 2px solid black;
    height: 25px;
    width: 10px;
    border-radius: 0px;
    background: blue;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}
