.main {
    width: 400px;
    padding: 40px;
    margin: auto;
    box-shadow: 0px 0px 7px 1px rgb(207, 212, 202);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

.title,
.count {
    text-align: center;
    margin-top: 0px;
}

.title {
    margin-bottom: 45px;
}

.count {
    margin-bottom: 30px;
}

.buttons {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

button {
    color: white;
    height: 40px;
    width: 60px;
    border-width: 1px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
}

.add {
    background-color: teal;
    border-color: teal;
}

.sub {
    border-color: rgb(245, 72, 42);
    background-color: rgb(245, 72, 42);
}

.reset {
    width: 90px;
    background-color: rgb(26, 26, 126);
    margin-top: 30px;
}

.add:hover {
    box-shadow: 0 0 6px 3px rgb(199, 218, 218);
}

.sub:hover {
    box-shadow: 0 0 6px 3px rgb(243, 141, 123);
}

.reset:hover {
    box-shadow: 0 0 6px 3px rgb(137, 137, 214);
}
